.herro {
    // padding-top: 200px;
    // padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    padding: 118px 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $backgroundhf-color;
    background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                    url(../images/herro-mobile.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

    @media screen and (min-width: 480px) and (min-resolution: 192dpi),
        screen and (min-width: 480px) and (min-resolution: 2dppx){
        height: 400px;
        max-width: 100%;

        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/herro-mobile2x.jpg);
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
        height: 400px;
        max-width: 100%;
    
        padding: 118px 0;
    
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/herro-tablet.jpg);
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx){
        height: 400px;
        max-width: 100%;

        padding: 118px 0;

        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/herro-tablet2x.jpg);
    }

    @media screen and (min-width: 1200px) {
        height: 600px;
        max-width: 1600px;
    
        padding: 200px 0;
    
        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/herro.jpg);
    }

    @media screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        height: 600px;
        max-width: 1600px;

        padding: 200px 0;

        background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/herro2x.jpg);
    }

    
    // @media screen and (min-width: 768px) {
    //     height: 400px;
    //     }
}

.herro__title {
    margin: 0 auto;

    max-width: 696px;

    color: $title-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    @media screen and (max-width: 1200px) {
        max-width: 360px;
        font-size: 26px;
        line-height: calc(42 / 26);
    }
}

.herro__btn {
    display: inline-block;

    min-width: 200px;
    margin-top: 30px;
    padding: 10px 32px;

    background-color: $backgroundbutton-color;
    color: $backgroundbody-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color $timeanime $functionanime,
    box-shadow $timeanime $functionanime;

    &:hover,
    &:focus {
        background-color: $backgroundbtnfocus;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}