.footer {
    padding: 60px 0;

    background-color: $backgroundhf-color;

    &__logo {
        text-align: center;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            text-align: left;
            margin: 0;
        }
    }
}

.footer--conteiner {
    display: block;

    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.footer__contact--card {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        $gap: 0;
        gap: $gap;
        @include card-item(2);
    }
}

.footer-icon {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin: 0;
        margin-top: 5px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: 70px;
        text-align: left;
    }

    &__list {
        display: flex;
        gap: 10px;
        justify-content:center;

        @media screen and (min-width: 1200px) {
            margin: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 44px;
        height: 44px;
    
        color: #FFFFFF;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
    
        transition: background-color $timeanime $functionanime;

        &:hover,
        &:focus {
            background-color: $backgroundbutton-color;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        
        color: $title-color;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
}

.address {
    text-align: center;
    margin-bottom: 9px;

    @media screen and (min-width: 1200px) {
        margin-top: 20px;
    }
    color: $title-color;

    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}


.footer-form {
    width: 100%;
    height: auto;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        margin-top: 60px;
        width: 450px;
        height: auto;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        width: 570px;
        height: auto;
        margin-left: auto;
        text-align: left;
    }

    &__submit {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
    
        color: $title-color;
    }

    &__mail {
        display: block;
        margin: 0 auto;

        @media screen and (min-width: 1200px) {
            margin: 0;
            display: flex;
            justify-content: space-between;
        }
    }

    &__lable {
        display: block;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding-left: 16px;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            width: 358px;
            margin: 0;
        }
        
    
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20 / 16);
    
        color: rgba(255, 255, 255, 0.6);

        &__::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: calc(20 / 16);
            letter-spacing: 0.03em;
        
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__btn {
        margin: 0 auto;

        @media screen and (min-width: 1200px) {
            margin: 0;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 200px;
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 29px;
        padding-right: 29px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
    
        letter-spacing: 0.06em;
    
        color: $title-color;
        background-color: $backgroundbutton-color;
    
        transition: box-shadow $timeanime $functionanime,
            background-colo $timeanime, $functionanime;

        &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            background-color: $backgroundbtnfocus;
        }
    }
}