body {
    background-color: $backgroundbody-color;
    color: $subtitles-color;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid tomato;

    @media screen and (min-width: 480px) {
        width: 480px;
        }
    
    @media screen and (min-width: 768px) {
        width: 768px;
        }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.btn {
    cursor: pointer;
    font-family: inherit;
    
    border: transparent;
    border-radius: 4px;
}

.card {
    display: block;
    // flex-wrap: wrap;
    // gap: $gap;
}

@mixin card-item($numbercard) {
    width: calc((100% - $gap * ($numbercard - 1)) / ($numbercard));
}
