$title-color:#FFFFFF;
$subtitles-color:#212121;
$paragraphs-color:#757575;
$backgroundbutton-color: #2196F3;
$backgroundbtnfocus: #188CE8;
$backgroundhf-color:#2F303A;
$backgroundbody-color:#FFFFFF;
$backgroundphoto-color:#F5F4FA;
$gap: 30px;
$timeanime: 250ms;
$functionanime: cubic-bezier(0.4, 0, 0.2, 1);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');